{% from 'bootstrap5/form.html' import render_form %}
{% include 'header.html' %}

<section class="page-section" id="contact" style="height:80vh">
  <div class="container" style="margin-top: 100px;">
      <!-- Contact Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact Me</h2>
      <!-- Icon Divider-->
      <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
      </div>
      <!-- Contact Section Form-->
      <div class="row justify-content-center">
          <div class="col-lg-8 col-xl-7">
            {{ render_form(form,novalidate=True) }}
            <br>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul class="flashes">
                {% for message in messages %}
                  {% if error %}
                    <li style="color:rgb(255,104,104)">{{ message }}</li>
                  {% else %}
                    <li style="color:rgb(0, 255, 102)">{{ message }}</li>
                  {% endif %}
                {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
          </div>
      </div>
  </div>
</section>

{% include 'footer.html' %}
